/* Reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
    -webkit-transform: rotateZ( 0.1deg) translateZ(0);
    -ms-transform: rotateZ( 0.1deg) translateZ(0);
    -o-transform: rotateZ( 0.1deg) translateZ(0);
    transform: rotateZ( 0.1deg) translateZ(0);
}

#wrapper {
    width: 728px;
    height: 90px;
    background: #FFF;
    position: absolute;
    overflow: hidden;
    border: 1px solid #000;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

#cheetah1 {
    position: absolute;
    top: 10px;
    /* left: -475px; */
    left: -635px;
}

#cheetah {
    position: absolute;
    top: -50px;
    left: -200px;
}

#cheetah img {
    position: absolute;
}

#cheetah #blur {
    width: 485px;
    height: 283px;
    left: -71px;
    top: 25px;
}

#cheetah #body {
    width: 276px;
    height: auto;
    left: 96px;
    top: 24px;
}

#cheetah #leg {
    left: 123px;
    top: 56px;
}

#cheetah #frontleg1 {
    width: 146px;
    height: auto;
    left: 173px;
    top: 132px;
}

#cheetah #frontleg2 {
    left: 221px;
    top: 157px;
}

#cheetah #backleg2 {
    left: 154px;
    top: 161px;
}

#cheetah #tail {
    top: 43px;
    left: 22px;
}

#cheetah2 {
    position: absolute;
    top: 14px;
    left: 195px;
}

#cheetah3 {
    position: absolute;
    top: 2px;
    visibility: hidden;
}

#fibre {
    position: absolute;
    top: 5px;
    left: -1200px;
}

#fibre img {
    position: absolute;
    width: 1200px;
    height: 76px;
}

#fibre2 {
    position: absolute;
    left: 137px;
    top: -1px;
}

#gradient {
    position: absolute;
    top: -90px;
    left: 80px;
}

#txt1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#txt2 {
    position: absolute;
    margin: auto;
    top: -2px;
    left: 334px;
    bottom: 0;
}

#logo {
    position: absolute;
    width: 90px;
    height: 17px;
    top: 13px;
    left: 12px;
}

#cta {
    position: absolute;
    height: 23px;
    top: 30px;
    left: 605px;
    width: 91px;
    opacity: 1;
    text-align: center;
    text-shadow: 1px 1px 3px #427f13;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 0px #427f13;
    -moz-box-shadow: 0px 5px 0px #427f13;
    box-shadow: 0px 5px 0px #427f13;
    background: #57a708;
    padding: 0;
    display: block;
    cursor: pointer;
}

#cta:hover {
    background: #427f13;
    text-decoration: none;
}

#cta img {
    margin: auto;
    left: 0;
    right: 0;
    top: 5px;
    position: absolute;
}

#legal{
    position: absolute;
    top: 63px;
    left: 612px;
}