/* Reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
    -webkit-transform: rotateZ(0.1deg) translateZ(0);
    -ms-transform: rotateZ(0.1deg) translateZ(0);
    -o-transform: rotateZ(0.1deg) translateZ(0);
    transform: rotateZ(0.1deg) translateZ(0);
}

#wrapper {
    width: 300px;
    height: 250px;
    background: #FFF;
    position: absolute;
    overflow: hidden;
    border: 1px solid #000;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

#cheetah1 {
    position: absolute;
    top: 10px;
    /* left: -475px; */
    left: -635px;
}

#cheetah {
    position: absolute;
    top: -50px;
    left: -200px;
}

#cheetah img {
    position: absolute;
}

#cheetah #blur {
    width: 485px;
    height: 283px;
    left: -71px;
    top: 25px;
}

#cheetah #body {
    width: 276px;
    height: auto;
    left: 96px;
    top: 24px;
}

#cheetah #leg {
    left: 123px;
    top: 56px;
}

#cheetah #frontleg1 {
    width: 146px;
    height: auto;
    left: 173px;
    top: 132px;
}

#cheetah #frontleg2 {
    left: 221px;
    top: 157px;
}

#cheetah #backleg2 {
    left: 154px;
    top: 161px;
}

#cheetah #tail {
    top: 43px;
    left: 22px;
}

#cheetah2 {
    position: absolute;
    top: 127px;
    left: 84px;
}

#cheetah3 {
    position: absolute;
    top: 2px;
    visibility: hidden;
}

#fibre {
    position: absolute;
    top: 40px;
    left: -1100px;
}

#fibre img {
    position: absolute;
    width: 1100px;
    height: 180px;
}

#fibre2 {
    position: absolute;
    left: 2px;
    top: 128px;
}

#gradient {
    position: absolute;
    width: 460px;
    -webkit-transform: rotateZ(30deg) translateZ(0);
    -ms-transform: rotateZ(30deg) translateZ(0);
    -o-transform: rotateZ(30deg) translateZ(0);
    transform: rotateZ(30deg) translateZ(0);
}

#txt1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#txt2 {
    position: absolute;
    top: 48px;
    margin: auto;
    left: 0;
    right: 0;
    width: 200px;
    height: 75px;
}

#logo {
    position: absolute;
    width: 103px;
    height: 20px;
    top: 15px;
    left: 12px;
}

#cta {
    position: absolute;
    height: 23px;
    left: 189px;
    top: 210px;
    width: 91px;
    opacity: 1;
    text-align: center;
    text-shadow: 1px 1px 3px #427f13;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 0px #427f13;
    -moz-box-shadow: 0px 5px 0px #427f13;
    box-shadow: 0px 5px 0px #427f13;
    background: #57a708;
    padding: 0;
    display: block;
    cursor: pointer;
}

#cta:hover {
    background: #427f13;
    text-decoration: none;
}

#cta img {
    margin-top: 6px;
    left: 14px;
}

#legal{
	
position: absolute;
	
top: 232px;
	
left: 2px;
}